{% extends 'bootstrap/base.html' %}
{% block title %}
  Library
{% endblock title %}
{% block content %}
  <div class="container">
    <h1>My Library</h1>
    {% if books | length > 0 %}
      <ul>
        {% for book in books %}
          <li>
            <a href="{{ url_for('delete', id=book['id']) }}">Delete Book</a>
            -
            {{ book['title'] }}
            -
            {{ book['author'] }}
            -
            {{ book['rating'] }}/10 -
            <a href="{{ url_for('edit', id=book['id']) }}">Edit Rating</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Library is empty.</p>
    {% endif %}

    <a href="{{ url_for('add') }}">Add New Book</a>
  </div>

{% endblock content %}
